<footer class="bg-slate-950 mt-10">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="/books" class="text-xl font-semibold"
          ><i class="fa-solid fa-book text-sky-600"></i> Book<span
            class="text-sky-600"
            >S</span
          >tore</a
        >
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-slate-300 uppercase">
            Resources
          </h2>
          <ul class="text-slate-400 font-medium">
            <li class="mb-4">
              <a href="/books" class="hover:underline">View Books</a>
            </li>
            <li>
              <a href="/new" class="hover:underline">Add New Book</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-slate-300 uppercase">
            Follow us
          </h2>
          <ul class="text-slate-400 font-medium">
            <li class="mb-4">
              <a
                target="_blank"
                href="https://github.com/abdulrehmanghub"
                class="hover:underline"
                >Github</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://linkedin.com/in/abdulrehman0"
                class="hover:underline"
                >LinkedIn</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-slate-300 uppercase">
            Legal
          </h2>
          <ul class="text-slate-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy</a>
            </li>
            <li>
              <a href="#" class="hover:underline">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-slate-200 sm:mx-auto border-slate-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm sm:text-center text-slate-400"
        >© 2025 <a href="/books" class="hover:underline">BookStore™</a>. All
        Rights Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center gap-4 sm:mt-0">
        <a href="#" class="hover:text-sky-600 duration-300"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="#" class="hover:text-sky-600 duration-300"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="#" class="hover:text-sky-600 duration-300"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a href="#" class="hover:text-sky-600 duration-300"
          ><i class="fa-solid fa-globe"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
