<nav
  class="sticky z-10 top-0 flex sm:justify-between justify-center items-center gap-4 flex-wrap px-10 py-4 bg-slate-900"
>
  <a href="/books" class="text-3xl font-semibold"
    ><i class="fa-solid fa-book text-sky-600"></i> Book<span
      class="text-sky-600"
      >S</span
    >tore</a
  >
  <ul class="flex space-x-7">
    <li>
      <a
        class="text-slate-50 hover:text-sky-600 hover:underline duration-300"
        href="/books"
        >Home</a
      >
    </li>
    <li>
      <a
        class="text-slate-50 hover:text-sky-600 hover:underline duration-300"
        href="/books"
        >Books</a
      >
    </li>
    <li>
      <a
        class="text-slate-50 hover:text-sky-600 hover:underline duration-300"
        href="/new"
        >Add New</a
      >
    </li>
    <li>
      <a
        class="text-slate-50 hover:text-sky-600 hover:underline duration-300"
        href="#"
        >Contact</a
      >
    </li>
  </ul>
</nav>
