<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- connecting style file -->
    <!-- <link rel="stylesheet" href="../stylesheets/style.css" />  -->

    <!-- connecting tailwind cdn -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="min-h-screen bg-slate-900 text-white text-2xl">
      <h2>The sum of 2 + 10 = <span class="text-yellow-500"><%= 2+10 %></span></h2>
    </div>
  </body>
</html>
