<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Blog App | Backend</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>

  <body>
    <div class="bg-slate-900 text-white min-h-screen">
      <div class="flex items-center justify-center min-h-screen w-7xl">
        <form
          action="/login"
          method="post"
          class="flex flex-col gap-3 bg-slate-800 px-10 py-14"
        >
          <h2 class="text-center text-2xl pb-4 font-semibold">User Login</h2>
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="bg-slate-700 w-80 outline-none px-2 py-1 rounded-sm"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="bg-slate-700 w-80 outline-none px-2 py-1 rounded-sm"
            required
          />
          <input
            type="submit"
            value="Sign in"
            class="bg-blue-600 w-80 outline-none px-2 py-1 rounded-sm cursor-pointer hover:bg-blue-700 duration-300 mt-4"
          />
          <p class="text-center text-sm pt-6">
            Not have any account?
            <a class="hover:text-blue-300 duration-200" href="/">Register</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
